*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Exo', sans-serif;
    width: 100vw;
    height: 100vh;
    background-color: #202020;
    color: white;
}
h1{
    font-weight: 600;
    font-size: 40px;
}
p{
    font-size: 18px;
    margin-top: 7px;
    margin-bottom: 7px;
}
.logo{
    position: absolute;
    height: 180px;
    width: 200px;
    left: 50px;
}
header img{
    width: 50%;
    height: 70px;
}
.content{
    display: flex;
    height: 100vh;
    justify-content: end;
    align-items: flex-end;
}
.disc{
    padding: 50px;    
    width: 30%;
    height: 65%;
}
.disc h1, .disc p{
    margin: 3px 0px 25px 0px;
}
.content div{
    margin: 5px;
}
.btn{
    border: solid 1px #ffcc00;
    background: none;
    padding: 10px;
    color: white;
    font-size: 16px;
    border-radius: 6px;
    width: 170px;
    height: 50px;
    margin-top: 27px;

}
.btn:hover{
    background-color: #ffcc00;
    color: #191919;
    font-size: 16px;
}
.imgUnder{
    width: 60%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.imgUnder img{
    height: 450px;
}
.social{
   position: absolute;
   bottom: 180px;
}
.social img{
    width: 40px;
    margin-right: 10px;
}
a{
        text-decoration: none;
}

/*---------------Loading Page -----------------*/
.loading{
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0px;
}

.loading img{
    height: 500px;
}
/*-----------------Table version----------------**/
@media (max-width: 1280px) {
    .imgUnder img{
        height: 300px;
    }
}
@media (max-width: 1180px) {
    .imgUnder img{
        height: 280px;
    }
    .disc{
        width: 40%;
        align-self: center;
        height: 400px;
        position: relative;
    }
    .social{
        bottom: 30px;
     }
}
@media (max-width: 1024px) {
    .disc{
        height: 300px;
    }
    .imgUnder img{
        height: 200px;
    }
}
/*-----------------Mobile version ------------*/
@media (max-width: 700px) {
    *{
        margin: 0px;
        padding: 0px;
    }
    body{
        width: 100vw;
    }
    header{
        height: 100px;
        margin-bottom: 50px;
    }
    .logo{
        width: auto;
        height: 180px;
    }
    .content{
        flex-direction: column-reverse;
        margin-left: 0px;
        width: 100%;
    }
    .content div{
        margin: 0px;
    }
    .disc{    
        width: 70%;
        height: 450px;
        height: auto;
        
    }
    .social{
        position: relative;
        bottom: -40px;
     }
    .disc h1, .disc p{
        margin: 3px 0px 25px 0px;
    }
    .imgUnder{
        padding: 0px;
        width: 98%;
        justify-content: center;
    }
    .imgUnder img{
        height: 150px;
        margin-left: 0px;
    }
    .loading{
        height: 130vh;
    }
}