*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: "Montserrat";
    width: 100vw;
    height: 100vh;
    background-color: #202020;
    color: white;
}
h1{
    font-weight: 600;
    font-size: 40px;
}
p{
    font-size: 18px;
    margin-top: 7px;
    margin-bottom: 7px;
}
.logo{
    position: absolute;
    height: 180px;
    width: 200px;
    left: 50px;
}
header img{
    width: 50%;
    height: 70px;
}
.content{
    display: flex;
    height: 100vh;
    justify-content: end;
    align-items: flex-end;
}
.disc{
    padding: 50px;    
    width: 30%;
    height: 65%;
    position: relative;
}
.disc h1, .disc p{
    margin: 3px 0px 25px 0px;
}
.content div{
    margin: 5px;
}
.btn{
    border: solid 1px #ffcc00;
    background: none;
    padding: 10px;
    color: white;
    font-size: 14px;
    border-radius: 6px;
    width: 150px;
    height: 50px;
    margin-top: 27px;

}
.btn:hover{
    background-color: #ffcc00;
    color: #191919;
    font-size: 16px;
}
.imgUnder{
    width: 60%;
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
}
.imgUnder img{
    width: 90%;
    height: 60%;
}
.social{
   position: absolute;
   bottom: 180px;
}
.social img{
    width: 40px;
    margin-right: 10px;
}
.percent{
    width: calc(360px/2);
    height: 28px;
    position: absolute;
    left: 27%;
    top: 51.5%;
    border-radius: 11px;
    background-color: #ffcc00;
}

/*---------------Loading Page -----------------*/
.loading{
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0px;
}

.loading img{
    width: 75%;
    height: 700px;
}